*{
    box-sizing: border-box;
}

.search{
    width: 35vw;
    height: 35px;
    font-size: 19px;
    border: 1px solid;
    border-radius: 15px;
    padding-left: 35px;
}

.search-bar{
    display: flex;
    justify-content: center;
    padding: 25px;
}

.current-info-container{
    display: flex;
    text-align: center;
    border: 1px solid;
    width: 75vw;
    margin: 0 auto;
    padding: 20px;
}

.current-info-left, .current-info-right{
    flex-grow: 1;
}


.temp, .current-weather-condition, .location{
    font-size: 25px;
}

.bold{
    font-weight: bold;
    font-size: 35px;
}

.chart-container{
    width: 75vw;
    margin: 30px auto 0;
    
}

.hourly-condition-container{
    display: flex;
    scroll-behavior: smooth;
    overflow-x: scroll;
    white-space: nowrap;
    width: 75vw;
    margin: 30px auto;
    border: 1px solid;
}

.hourly-condition{
    display: inline-block;
    margin-right: 10px;
    text-align: center;
    position: relative;
    padding: 0 10px;
}

.hourly-condition:not(:last-child)::after{
    content: '';
    position: absolute;
    right: -5px; /* Adjust this value as needed */
    top: 0;
    height: 100%;
    border-right: 1px solid #ccc;
}

.error{
    visibility: hidden;
}